@import "@/styles/variables";

.inputBox {
  :global {
    padding: 3px 10px !important;
    border: 1px solid $color-grey-200;
    border-radius: 3px;
    font-size: 1.25rem;

    .ant-input-clear-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 100%;

      >svg>path {
        fill: $color-grey-200;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}


.markCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}