@font-face {
  font-family: 'DB Helvethaica X';
  font-style: normal;
  font-weight: 100;
  src: url('../../public/fonts/db-healvethaica-x-thin.ttf');
}

@font-face {
  font-family: 'DB Helvethaica X';
  font-style: normal;
  font-weight: 300;
  src: url('../../public/fonts/db-healvethaica-x-li.ttf');
}

@font-face {
  font-family: 'DB Helvethaica X';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/db-healvethaica-x.ttf');
}

@font-face {
  font-family: 'DB Helvethaica X';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/db-healvethaica-x-med.ttf');
}