// Colors
// ==============================
$color-white: #ffffff;
$color-dark: #000000;
$color-transparent: transparent;

$color-red-100: #ff9696;
$color-red-200: #eb5757;
$color-red-300: #b64747;

$color-orange-100: #f3d59a;
$color-orange-200: #ebb957;
$color-orange-300: #d1a54f;

$color-green-100: #f8fcd6;
$color-green-200: #effaaf;
$color-green-300: #e0f184;
$color-green-400: #cce363;
$color-green-500: #6EAA39;
$color-green-600: #94b426;
$color-green-700: #78971a;
$color-green-800: #5d7910;
$color-green-900: #579322;
$color-green-901: #b2d234;

$color-grey-100: #f4efee;
$color-grey-200: #e9dede;
$color-grey-300: #bdb0b0;
$color-grey-400: #7b7072;
$color-grey-500: #231f20;
$color-grey-600: #1e1619;
$color-grey-700: #190f13;
$color-grey-800: #1e1619;
$color-grey-900: #14090f;

$color-purple-100: #f9f0ff;
$color-purple-200: #efdbff;
$color-purple-300: #d3adf7;
$color-purple-400: #b37feb;
$color-purple-500: #9254de;
$color-purple-600: #722ed1;
$color-purple-700: #531dab;
$color-purple-800: #391085;
$color-purple-900: #391085;
$color-purple-901: #120338;

$color-primary-grey: #231f20;
$color-light-grey: #f4efee;
$color-smoke: #d9d9d9;

$color-primary-purple: #de8cff;

$color-strong-lime-green: #4AD234;
$color-strong-cyan: #34BFD2;
$color-string-blue: #347DD2;

// functional colors
$primary-color: $color-primary-purple;
$ant-btn-primary-hover-color: $color-purple-500;
$ant-select-item-bg-color: $color-purple-100;
$ant-btn-bg-color: $color-purple-300;
$ant-collapse-item-active-color: $color-purple-500;
// $primary-color: $color-green-901;
$bg-color: #f7f7f8;

// Spacing
// ==============================
$spacer: 0.25rem;
$spacer-x: $spacer;
$spacer-y: $spacer;