@import '@/styles/variables';

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-8xl {
  font-size: 6rem !important;
  line-height: 1 !important;
}

.text-7xl {
  font-size: 4.5rem !important;
  line-height: 1 !important;
}

.text-6xl {
  font-size: 3.75rem !important;
  line-height: 1 !important;
}

.text-5xl {
  font-size: 3rem !important;
  line-height: 1 !important;
}

.text-4xl {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}

.text-3xl {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

.text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.text-1xl {
  font-size: 1.375rem !important;
  line-height: 1.75rem !important;
}

.text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

.text-base {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-red-100 {
  color: $color-red-100;
}

.text-red-200 {
  color: $color-red-200;
}

.text-red-300 {
  color: $color-red-300;
}

.text-orange-100 {
  color: $color-orange-100;
}

.text-orange-200 {
  color: $color-orange-200;
}

.text-orange-300 {
  color: $color-orange-300;
}

.text-grey-100 {
  color: $color-grey-100;
}

.text-grey-200 {
  color: $color-grey-200;
}

.text-grey-300 {
  color: $color-grey-300;
}

.text-grey-400 {
  color: $color-grey-400;
}

.text-grey-500 {
  color: $color-grey-500;
}

.text-grey-600 {
  color: $color-grey-600;
}

.text-grey-700 {
  color: $color-grey-700;
}

.text-grey-800 {
  color: $color-grey-800;
}

.text-grey-900 {
  color: $color-grey-900;
}

.text-green-100 {
  color: $color-green-100;
}

.text-green-200 {
  color: $color-green-200;
}

.text-green-300 {
  color: $color-green-300;
}

.text-green-400 {
  color: $color-green-400;
}

.text-green-500 {
  color: $color-green-500;
}

.text-green-600 {
  color: $color-green-600;
}

.text-green-700 {
  color: $color-green-700;
}

.text-green-800 {
  color: $color-green-800;
}

.text-green-900 {
  color: $color-green-900;
}
