@import '@/styles/variables';

.wrapperProfile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-left: 1.2rem;
  padding-right: 0;
}

.wrapperAvatar {
  padding-right: 1rem;
  border-right: 1px solid $color-grey-200;
}

.logout {
  color: $primary-color !important;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}

:root {
  .layout {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 1300px;
    z-index: 999;
  }

  .wrapperLayout {
    position: relative;
  }

  .contentLayout {
    padding: 4rem 3rem;
  }

  .sidebar {
    background: $color-white;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

    .logoSmall {
      margin-top: 2rem;
      margin-left: 0.7rem;
    }

    .logo {
      padding-top: 2rem !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      padding-bottom: 1rem !important;
    }
  }

  .header {
    margin-top: 1.5rem;
    background: $bg-color;

    .menuIcon {
      font-size: 20px;
      cursor: pointer;

      &:hover {
        >path {
          fill: $primary-color;
        }
      }
    }
  }

  .menuLink {
    color: $color-primary-grey;

    &:hover {
      font-weight: 500 !important;
      color: $primary-color !important;
    }
  }
}

.subMenuLink {
  color: $color-primary-grey;
  font-weight: 400;
}

.menu {
  :global {
    .ant-menu-submenu-selected {
      >.ant-menu-submenu-title>.ant-menu-item-icon {
        path {
          fill: $primary-color;
        }
      }
    }

    .ant-menu-submenu-title:hover {
      >.ant-menu-item-icon {
        path {
          fill: $primary-color !important;
        }
      }
    }

    .ant-menu-title-content {
      font-weight: 500;

      &:hover {
        font-weight: 500 !important;
        color: $primary-color !important;
      }
    }

    .ant-menu-item:hover {
      >.ant-menu-item-icon {
        path {
          fill: $primary-color !important;
        }
      }
    }

    .ant-menu-item.ant-menu-item-selected {
      >.ant-menu-title-content {
        a {
          font-weight: 500 !important;
          color: $primary-color !important;
        }
      }

      >.ant-menu-item-icon {
        path {
          fill: $primary-color;
        }
      }
    }
  }
}