@import "@/styles/variables";

.searchInput {
  padding: 3px 10px !important;
  border: 1px solid $color-grey-200;
  border-radius: 3px;
  font-size: 1.25rem;
  height: 40px;
}

.searchIcon {
  display: flex;
  cursor: pointer;

  > svg > path {
    fill: $color-grey-200;
  }

  &:hover {
    opacity: 0.6;
  }
}
